{% extends 'base.html' %}

{% block title %}Boggle{% endblock %}

{% block content %}

{% set board = session['board'] %}

<h1>Boggle</h1>

<span class="game-info-wrapper">Number Of Times Played: <span id="num-played"></span></span>
<br>
<br>
<span class="game-info-wrapper">High Score: <span id="high-score"></span></span>
<br>
<br>
<span class="game-info-wrapper">Score: <span id="score">0</span></span>
<span class="game-info-wrapper">Time Left: <span id="timer"></span></span>

<table>
    {% for row in board %}
    <tr>
        {% for td in row %}
        <td>{{ td }}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>

<form>
    <label for="word">Guess:</label>
    <input type="text" id="word" name="word">
    <button id="submit-btn">Submit</button>
</form>

<button id="reset-btn" onclick="newGame()">New Game</button>

<div id="response"></div>


{% endblock %}